<!DOCTYPE html>
<html>
<head>
	<%- partial('partials/resources.ejs', {
			stylesheets: [],
			scripts: [
				'/public/lib/jquery/jquery.min.js',
				'/public/lib/gf/gf-form-validate.js'
			]
		}) %>
	<script type="text/javascript">
		//starts the validator on the login form
		$(document).ready(function() {
			$('<%= selector %>').gfvalidate(
				<%- JSON.stringify(param_values) %>,
				<%- JSON.stringify(param_errors) %>,
				<%- JSON.stringify(errors) %>
			);
		});
	</script>
</head>
<body>
</body>
</html>
