<!DOCTYPE html>
<%/*
	Expects variables:
		invitation - the invitation object to display
		alert_class - one of "", "alert-info", "alert-warning", "alert-error"
*/%>
<html>
<head>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/group-invitation-tile/group-invitation-tile.css'
			],
			scripts: [
				'/public/lib/jquery/jquery.min.js',
				'/public/group-invitation-tile/group-invitation-tile.js'
			]
		}) %>
</head>
<body>
	<div class="group-invitation-tile-partial">
		<div class="group-invitation-tile alert <%= alert_class %>">
			<div class="actions pull-right">
				<!-- accept invitation -->
				<form class="action form-ajax" method="post"
							action="/api/groups/invitations/me/accept" data-gf-ajax-form-action="accept-invitation">
					<input type="hidden" name="groupid" value="<%= invitation.group.groupid %>">
					<input type="submit" class="btn btn-primary" value="Accept">
				</form>

				<!-- decline invitation -->
				<form class="action form-ajax" method="post"
							action="/api/groups/invitations/me/reject" data-gf-ajax-form-action="reject-invitation">
					<input type="hidden" name="groupid" value="<%= invitation.group.groupid %>">
					<input type="submit" class="btn" value="Decline">
				</form>
			</div>

			<div class="messages pull-right">
				<span class="accepted text" style="display: none">Invitation accepted: </span>
				<a class="accepted" style="display: none" href="/group?groupid=<%= invitation.group.groupid %>">go to group</a>
				<span class="rejected text" style="display: none">Invitation declined</span>			
			</div>

			<div class="group-invitation-info">
				<div>
					<strong><%= invitation.group.name %></strong>
					(invited by <%= invitation.requester %>)
				</div>
				<div class="group-description"><%= invitation.group.description %></div>
			</div>
		</div>
	</div>
</body>
</html>
