<!DOCTYPE html>
<%/*
	Expects variables:
		userObj - the user object to display
		alert_class - one of "", "alert-info", "alert-warning", "alert-error"
		friend_status - if known, a string indicating the relationship the auth'd user
						has with the user whose tile this is

						"" - unknown tile state, will be looked up via ajax
						"friends" - they are friends
						"incoming" - there is an incoming friend request from this person
						"outgoing" - there is an outgoing friend request to this person
						"none" - none of the above is true
*/%>
<html>
<head>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/user-tile/user-tile.css'
			],
			scripts: [
				'/public/lib/jquery/jquery.min.js',
				'/public/lib/gf/gf-ajax-submit.js',
				'/public/user-tile/user-tile-state.js',
				'/public/user-tile/user-tile-ajax.js'
			]
		}) %>
</head>
<body>
	<div class="user-tile-partial" data-user-tile-state="<%= friend_status %>"
									data-username="<%= userObj.username %>">
		<div class="user-tile alert <%= alert_class %>">
			<div class="actions pull-right">
				<p data-user-tile-state="friends" style="display: none">(friend)</p>

				<!-- incoming friend state: accept request -->
				<form class="action form-ajax" method="post" data-user-tile-state="incoming" style="display: none"
					  action="/api/friends/requests/accept" data-gf-ajax-form-action="accept-request">
					<input type="hidden" name="username" value="<%= userObj.username %>">
					<input type="submit" class="btn btn-primary" value="Accept">
				</form>

				<!-- incoming friend state: reject request -->
				<form class="action form-ajax" method="post" data-user-tile-state="incoming" style="display: none"
					  action="/api/friends/requests/reject" data-gf-ajax-form-action="reject-request">
					<input type="hidden" name="username" value="<%= userObj.username %>">
					<input type="submit" class="btn" value="Decline">
				</form>

				<!-- none friend state: create request -->
				<form class="action form-ajax" method="post" data-user-tile-state="none" style="display: none"
					  action="/api/friends/requests/create" data-gf-ajax-form-action="create-request">
					<input type="hidden" name="username" value="<%= userObj.username %>">
					<input type="submit" class="btn btn-primary" value="Add friend">
				</form>

				<!-- outgoing friend state: cancel request -->
				<form class="action form-ajax" method="post" data-user-tile-state="outgoing" style="display: none"
					  action="/api/friends/requests/cancel" data-gf-ajax-form-action="cancel-request">
					<input type="hidden" name="username" value="<%= userObj.username %>">
					<input type="submit" class="btn" value="Cancel request">
				</form>
			</div>

			<div class="pull-left">
				<img src="/api/users/picture/get?username=<%= userObj.username %>&type=normal">
			</div>

			<div class="user-info">
				<% if (userObj.username == user.username) { %>
					<strong class="black-text">You</strong> (<%= userObj.name.full %>, <%= userObj.username %>)
				<% } else { %>
					<strong class="black-text"><%= userObj.username %></strong> (<%= userObj.name.full %>)
				<% } %>
				<div class="user-blurb nowrap">"<%= userObj.blurb %>"</div>
			</div>
		</div>
	</div>
</body>
</html>
