<!DOCTYPE html>
<%/*
	Expects variables:
		user - the user object to display
		alert_class - one of "", "alert-info", "alert-warning", "alert-error"
		friend_status - if known, a string indicating the relationship the auth'd user
						has with the user whose tile this is, or a falsy value if unknown
						(it will be looked up dynamically)

						"is" - it is the auth'd user
						"friends" - they are friends
						"incoming" - there is an incoming friend request from this person
						"outgoing" - there is an outgoing friend request to this person
						"none" - none of the above is true
*/%>
<html>
<head>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/user-tile.css'
			],
			scripts: []
		}) %>
</head>
<body>
	<div class="user-tile-partial">
		<div class="user-tile alert <%= alert_class %>">
			<div class="actions pull-right">
				<% if (friend_status == "incoming") { %>
					<form class="action" method="post" action="">
						<input type="hidden" name="action" value="accept-request">
						<input type="hidden" name="username" value="<%= user.username %>">
						<input type="submit" class="btn btn-primary" value="Accept">
					</form>
					<form class="action" method="post" action="">
						<input type="hidden" name="action" value="decline-request">
						<input type="hidden" name="username" value="<%= user.username %>">
						<input type="submit" class="btn" value="Decline">
					</form>
				<% } %>
			</div>
			<div class="pull-left">
				<img src="/api/users/picture/get?username=<%= user.username %>?type=normal">
			</div>
			<div class="user-info">
				<strong><%= user.name.full %></strong> (<%= user.username %>)
				<div class="user-blurb nowrap">"<%= user.blurb %>"</div>
			</div>
		</div>
	</div>
</body>
</html>
