<!DOCTYPE html>
<html>
<head>
	<%- partial('partials/header/header-start.ejs', {
			title: process.env.APP_NAME + ' - Command line'
		}) %>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css'
			],
			scripts: []
		}) %>
	<%- partial('partials/header/header-end.ejs') %>
</head>
<body>
	<%- partial('partials/topbar.ejs') %>
	<%- partial('partials/shadowbox.ejs') %>

	<div class="container container-fluid">
		<div class="row-fluid">
			Command line (coming soon)
			<!-- to display pretty-printed JSON:
				var obj = { some JSON obj };
				e.html(JSON.stringify(obj, null, '\t').replace(/\n/g, '<br>').replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'))
			-->
		</div>
	</div>
</body>
</html>
