<!DOCTYPE html>
<html>
<head>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/authboxes/registerbox.css'
			],
			scripts: [
				'/public/lib/jquery/jquery.min.js'
			]
		}) %>
</head>
<body>
	<div class="registerbox-partial">
		<div class="registerbox-partial-inner alert alert-info">
			<%- partial('partials/gf-validate-init.ejs', {
					selector: parent + " .registerbox-partial form.gf-register"
				}) %>
			<form class="gf-register form-vertical" method="post" action="/register">
				<legend>Create a <%= process.env.APP_NAME %> account</legend>

				<!-- error block -->
				<div class="alert alert-error gf-validate-generic-error hidden"></div>	

				<fieldset>
					<div class="control-group">
						<label class="control-label">Your desired username (must be available)</label>
						<div class="controls">
							<!-- username -->
							<div class="gf-validate-input-container">
								<input name="username" class="input-xlarge" type="text" placeholder="myusername23">
								<span class="help-inline gf-validate-field-error"></span>								
							</div>

							<!-- username availability check -->
							<span class="help-block">
								<a href="#" class="username-availability-button btn disabled">
									Check availability
								</a>
								<span class="username-availability-text"></span>
								<script type="text/javascript">
									$(document).ready(function() {
										var usernameField = $('<%= parent %> input[name=username]');
										var availButton = $('<%= parent %> a.username-availability-button');
										var availText = $('<%= parent %> a.username-availability-text');
										
										availButton.removeClass('disabled');

										availButton.click(function() {
											//TODO complete this
											availText.text('checking...');
											$.ajax({
												type: 'GET',
												url: '/api/users/get',
												data: { username: usernameField.val() },
												success: function(data) {
													alert(JSON.stringify(data));
												}
											});
										});
									});
								</script>
							<span>				
						</div>
					</div>
				</fieldset>

				<fieldset>
					<div class="control-group">
						<label class="control-label">Choose a password</label>
						<div class="controls">
							<!-- password -->
							<div class="gf-validate-input-container">
								<input name="password" class="input-xlarge" type="password" placeholder="password">
								<span class="help-inline gf-validate-field-error"></span>	
							</div>

							<!-- confirm password -->
							<div class="gf-validate-input-container">
								<input name="password2" class="input-xlarge" type="password" placeholder="confirm password">
								<span class="help-inline gf-validate-field-error"></span>	
							</div>						
						</div>
						<div class="password-disclaimer alert alert-warning">
							<p><strong>Be warned:</strong> this site is still in development.</p>
							<p>To be safe, use a password that you do not use on other websites.</p>
						</div>
					</div>
				</fieldset>

				<fieldset>
					<div class="control-group">
						<label class="control-label">Your full name</label>
						<div class="controls">
							<!-- first name -->
							<div class="gf-validate-input-container">
								<input name="firstName" class="input-xlarge" type="text" placeholder="first name">
								<span class="help-inline gf-validate-field-error"></span>	
							</div>	

							<!-- last name -->
							<div class="gf-validate-input-container">							
								<input name="lastName" class="input-xlarge" type="text" placeholder="last name">
								<span class="help-inline gf-validate-field-error"></span>	
							</div>
						</div>
					</div>
				</fieldset>

				<fieldset>
					<div class="control-group">
						<label class="control-label">Your email address</label>
						<div class="controls">
							<!-- email -->
							<div class="gf-validate-input-container">
								<input name="email" class="input-xlarge" type="emamil" placeholder="yourname@example.com">
								<span class="help-inline gf-validate-field-error"></span>	
							</div>	
						</div>
					</div>
				</fieldset>

				<fieldset>
					<div class="form-actions">
						<input class="register-button btn-primary" type="submit" value="Register">
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>
