<!DOCTYPE html>
<%/* 
	Expects variables:
		group - the group object
		permissions - the auth'd user's permissions in this group
		posts - the list of posts in the group
*/%>
<html>
<head>
	<%- partial('partials/header/header-start.ejs', {
			title: process.env.APP_NAME + (group ? ' - ' + group.name : '')
		}) %>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/group-home.css'
			],
			scripts: [
				'/public/lib/jquery/jquery.min.js',
				'/public/lib/gf/gf-ajax-submit.js',
				'/public/group-home.js'
			]
		}) %>
	<script type="text/javascript">
		group_home(
			"<%= group.groupid %>",
			"<%= (posts.length > 0) ? (posts[0].postid) : "" %>",
			"<%= (input) ? input : "" %>"
		);
	</script>
	<%- partial('partials/header/header-end.ejs') %>
</head>
<body>
	<%- partial('partials/topbar.ejs') %>
	<%- partial('partials/shadowbox.ejs') %>

	<div class="container container-fluid">
		<%- partial('partials/page-headers/group-header.ejs') %>

		<div class="row-fluid">
			<div class="post-area">
				<form class="form-search" method="post" action="/api/groups/posts/create">
					<div class="control-group">
						<input type="hidden" name="groupid" value="<%= group.groupid %>">
						<textarea type="text" class="post-input span10" name="text" 
							   placeholder="Write something..." autofocus="autofocus" autocomplete="off"></textarea>
						<input type="submit" class="btn btn-primary span2" value="Post">
						<div class="message help-block"></div>
					</div>
				</form>
			</div>
		</div>

		<div class="post-list">
			<% if (posts.length > 0) { %>
				<% for (var i in posts) { %>
					<%- partial('partials/post-tile.ejs', {
							post: posts[i]
						}) %>
				<% } %>
			<% } else { %>
				<div class="alert alert-warning">
					There are no posts to show in this group
				</div>
			<% } %>
		</div>
	</div>
</body>
</html>
