<!DOCTYPE html>
<html>
<head>
	<%- partial('partials/header/header-start.ejs', {
			title: process.env.APP_NAME + (user ? ' - ' + user.name.full : '')
		}) %>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/user-home.css'
			],
			scripts: []
		}) %>
	<%- partial('partials/header/header-end.ejs') %>
</head>
<body>
	<%- partial('partials/topbar.ejs') %>
	<%- partial('partials/shadowbox.ejs') %>

	<div class="container container-fluid">
		<div class="header-row row-fluid">
			<div class="user-picture-outer pull-left">
				<img class="user-picture" src="/api/users/picture/me?type=normal">
			</div>
			<h1 class="nowrap"><%= user.name.full %></h1>
			<p class="blurb"><%= user.blurb %></p>
		</div>

		<div class="row-fluid">
			<div class="span3">
				<%- partial('partials/sidebar/sidebar-nav.ejs', {
						active: 'Inbox'
					}) %>
			</div>

			<div class="main-content span9">
				<!-- TODO remove this content -->
				<% for (var i=0; i < 24; i++) { %>
					<div class="alert">
						<img class="pull-left" style="margin-right: 12px;" src="/api/users/picture/get?username=Groupflow&type=square">
						<p><strong>Kapil Easwar</strong> posted to <strong>Some awesome group</strong></p>
						<p>Poopy poopy poopy poopy poopy poopy</p>
					</div>
				<% } %>
			</div>
		</div>
	</div>
</body>
</html>
