<!DOCTYPE html>
<html>
<head>
	<%- partial('partials/header/header-start.ejs', {
			title: process.env.APP_NAME + ' - Friends'
		}) %>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/user-friends.css'
			],
			scripts: []
		}) %>
	<%- partial('partials/header/header-end.ejs') %>
</head>
<body>
	<%- partial('partials/topbar.ejs') %>
	<%- partial('partials/shadowbox.ejs') %>

	<div class="container container-fluid">
		<%- partial('partials/page-headers/user-header.ejs') %>

		<div class="row-fluid">
			<div class="span3">
				<%- partial('partials/sidebar/sidebar-nav.ejs', {
						active: 'Friends'
					}) %>
			</div>

			<div class="main-content span9">
				<div class="section">
					<h2>Friend requests</h2>
					<label>
						<strong>Search</strong> through users for friends <a href="/friends/search">here</a>
					</label>
					<%- partial('partials/friend-request-list.ejs', {
							requests: requests.list,
							offset: requests.offset,
							maxcount: requests.maxcount
						}) %>
				</div>
				<div class="section">
					<h2>Your friends</h2>
					<label>
						These people have verified your friendship, so you can
						invite them to your groups. <a href="/groups">Go there now</a>
					</label>
					<%- partial('partials/friend-list.ejs', {
							friends: friends.list,
							offset: friends.offset,
							maxcount: friends.maxcount
						}) %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
