<!DOCTYPE html>
<html>
<head>
	<%- partial('partials/header/header-start.ejs', {
			title: process.env.APP_NAME + ' - Friends'
		}) %>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/user-friends.css'
			],
			scripts: [
				'/public/lib/jquery/jquery.min.js'
			]
		}) %>
	<%- partial('partials/header/header-end.ejs') %>
</head>
<body>
	<%- partial('partials/topbar.ejs') %>
	<%- partial('partials/shadowbox.ejs') %>

	<div class="container container-fluid">
		<%- partial('partials/page-headers/user-header.ejs') %>

		<div class="row-fluid">
			<div class="span3">
				<%- partial('partials/sidebar/sidebar-nav.ejs', {
						active: 'Friends'
					}) %>
			</div>

			<div class="main-content span9">
				<div>
					<h2>Friend requests</h2>
					TODO
				</div>
				<div>
					<h2>Your friends</h2>
					<label>
						Friends are people that have verified your relationship.
						You can invite these people to your groups
					</label>
					<%- partial('partials/friend-list') %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
