<!DOCTYPE html>
<html>
<head>
	<%- partial('partials/header/header-start.ejs', {
			title: process.env.APP_NAME + (user ? ' - ' + user.name.full : '')
		}) %>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/user-home.css'
			],
			scripts: []
		}) %>
	<%- partial('partials/header/header-end.ejs') %>
</head>
<body>
	<%- partial('partials/topbar.ejs') %>
	<%- partial('partials/shadowbox.ejs') %>

	<div class="container container-fluid">
		<%- partial('partials/page-headers/user-header.ejs') %>

		<div class="row-fluid">
			<div class="span3">
				<%- partial('partials/sidebar/sidebar-nav.ejs', {
						active: 'Notifications'
					}) %>
			</div>

			<div class="main-content span9">
				<div class="row-fluid">
					<ul class="nav nav-pills pull-right">
						<li class="active"><a href="">Refresh notifications</a></li>
					</ul>

					<h2>New notifications</h2>
					<label>To dismiss a notification and mark it as read, click the close
							button at the top of the notification</label>
					<% if (notifications.unread && notifications.unread.length > 0) { %>
						<% for (var i in notifications.unread) { %>
							<%- partial('partials/notification-tile', {
									notification: notifications.unread[i],
									alert_class: "alert-error"
								}) %>
						<% } %>
					<% } else { %>
						<div class="alert alert-warning">
							<div>No new notifications.
								Bored? Add some <a href="/friends/search">friends</a>
								or go to your <a href="/groups">groups</a></div>
						</div>
					<% } %>
				</div>

				<% if (notifications.read && notifications.read.length > 0) { %>
					<div class="row-fluid">
						<h2>Old notifications</h2>
							<% for (var i in notifications.read) { %>
								<%- partial('partials/notification-tile', {
										notification: notifications.read[i],
										alert_class: "alert-info"
									}) %>
							<% } %>
					</div>
				<% } %>
			</div>
		</div>
	</div>
</body>
</html>
