<!DOCTYPE html>
<%/*
	Expects variables:
		- query_submitted: boolean to indicate whether this is the first time the page was
							loaded or not
		- query: the query that was submitted
		- users: the array of user objects
		- error: the string to display if there was an error (or empty if no error)
*/%>
<html>
<head>
	<%- partial('partials/header/header-start.ejs', {
			title: process.env.APP_NAME + ' - Search users'
		}) %>
	<%- partial('partials/resources.ejs', {
			stylesheets: [
				'/public/lib/bootstrap/css/bootstrap.min.css',
				'/public/gf-style.css',
				'/public/user-friends-search.css'
			],
			scripts: []
		}) %>
	<%- partial('partials/header/header-end.ejs') %>
</head>
<body>
	<%- partial('partials/topbar.ejs') %>
	<%- partial('partials/shadowbox.ejs') %>

	<div class="container container-fluid">
		<%- partial('partials/page-headers/user-header.ejs') %>

		<div class="row-fluid">
			<div class="span3">
				<%- partial('partials/sidebar/sidebar-nav.ejs', {
						active: 'Friends'
					}) %>
			</div>

			<div class="main-content span9">
				<div class="section">
					<h2>
						<a href="/friends"><img src="/public/images/icons/back.png"></a>
						Search users
					</h2>
					<label>Search through Groupflow users for people you know</label>

					<form method="post" class="search-form form-search">
						<input type="text" class="query" name="query" autofocus="autofocus"
								placeholder="Start typing...">
						<input type="submit" class="btn btn-primary" value="Search">
						<p class="help-block">Your query is <strong>case-sensitive</strong>,
											  and searches username, first name and last name</p>
					</form>

					<% if (query_submitted) { %>
						<div class="results">
							<h3 class="query">Results for: <%= query %></h3>

							<% if (error) { %>
								<!-- a server error occured! -->
								<div class="alert alert-error">
									<%= error %>
								</div>
							<% } else if (users.length == 0) { %>
								<!-- no results to display -->
								<div class="alert alert-warning">
									No results to display
								</div>
							<% } else { %>
								<!-- there are results to display -->
								<div class="user-list">
									<% for (var i in users) { %>
										<div class="user-tile-outer pull-left">
											<%- partial('partials/user-tile.ejs', {
													userObj: users[i],
													alert_class: "alert-info",
													friend_status: ""
												}) %>
										</div>
									<% } %>
								</div>
							<% } %>
						</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
